@{
    ViewBag.Title = "Home Page";
}
<div class="container col-xs-12">
    <h1>Amazin Books</h1>
</div>
<div class="container col-xs-2"></div>
<div class="container col-xs-10">
    <img src="https://image.cnbcfm.com/api/v1/image/105462405-1537464466367gettyimages-1036099120.jpeg?v=1571143282&w=720&h=405" class="img-fluid" alt="Responsive image">
</div>
<div class="container col-xs-2"></div>