@model MailletAssignment3.Models.Product
@{
    ViewBag.Title = "Upsert";
}

<h2>Upsert A Product</h2>

@using (Html.BeginForm("Upsert", "Products", FormMethod.Post))
{
    @Html.HiddenFor(c => c.ProductCode)
    <label for="description">Product Description</label>
    @Html.TextAreaFor(c => c.Description, new { @id = "description", @class = "form-control", placeholder = "Description" })
    <label for="price">Unit Price</label>
    @Html.TextBoxFor(c => c.UnitPrice, new { @id = "price", @class = "form-control", type = "number", placeholder = "Price" })
    <label for="quantity">Quantity On Hand</label>
    @Html.TextBoxFor(c => c.OnHandQuantity, new { @id = "quantity", @class = "form-control", type = "number", placeholder = "Quantity" })
    if (Model != null)
    {
        <a href="/Products/Delete/@Model.ProductCode"><input type="button" value="Delete" class="btn btn-danger" /></a>
    }
    <input type="submit" , value="Submit" , class="btn btn-info" />
}