@model MailletAssignment3.Models.State
@{
    ViewBag.Title = "Upsert";
}

<h2>Upsert A State</h2>

@using (Html.BeginForm("Upsert", "States", FormMethod.Post))
{
    <label for="statecode">State Code</label>
    @Html.TextBoxFor(c => c.StateCode, new { @id = "statecode", @class = "form-control", placeholder = "State Code" })
    <label for="statename">State Name</label>
    @Html.TextBoxFor(c => c.StateName, new { @id = "statename", @class = "form-control", placeholder = "State Name" })
    if (Model != null)
    {
        <a href="/States/Delete/@Model.StateCode"><input type="button" value="Delete" class="btn btn-danger" /></a>
    }
    <input type="submit" , value="Submit" , class="btn btn-info" />
}